.hero-unit-gradient {
background-image: linear-gradient(right bottom, rgb(0,131,219) 100%, rgb(3,66,107) 0%);
background-image: -o-linear-gradient(right bottom, rgb(0,131,219) 100%, rgb(3,66,107) 0%);
background-image: -moz-linear-gradient(right bottom, rgb(0,131,219) 100%, rgb(3,66,107) 0%);
background-image: -webkit-linear-gradient(right bottom, rgb(0,131,219) 100%, rgb(3,66,107) 0%);
background-image: -ms-linear-gradient(right bottom, rgb(0,131,219) 100%, rgb(3,66,107) 0%);
background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(1, rgb(0,131,219)),
	color-stop(0, rgb(3,66,107))
);	
color: #fff;
text-shadow: 1px 1px 1px #222;
background-size: 1600px;
background-position:0px;
    -webkit-transition:background-position .5s ease-in;  
    -moz-transition:background-position .5s ease-in;  
    -o-transition:background-position .5s ease-in;  
    transition:background-position .5s ease-in; 

}

.hero-unit-gradient:hover {
background-position:-300px;
}

.block input {
	display: block;
}

.block .btn {
	margin: 8px 0;
}

.old-type {
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.5em;
}

/*   Icon Styles    */

#bullhorn {
	border: 2px dotted #440011;
	padding: 4px 6px;
}

#eye {
	color: #ff0000;
	text-shadow: 4px 4px 4px #a81518;
	font-size: 36px;
}

#thumb {
	transform:skewX(-30deg);
	-ms-transform:skewX(-30deg); /* IE 9 */
	-moz-transform:skewX(-30deg); /* Firefox */
	-webkit-transform:skewX(-30deg); /* Safari and Chrome */
	-o-transform:skewX(-30deg); /* Opera */
	font-size: 46px;
}

.icon-gallery li {
	text-align: center;
	font-size: 0.7em;
	height: 68px;
}
.icon-gallery span {
	margin-top: 10px;
	font-size: 2em;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}
.icon-gallery span:hover {
	font-size: 3.5em;
	color: #0083db;
}
/*
Color Styles*/

.swatch {
	height: 100px;
	width: 100px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.swatch p {
	height: 23px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}